body > #root > div {
	height: 100vh;
	max-height: 100vh;
}



@media (max-height: 700px), (max-width: 450px) {
  html {
    font-size: 12px;
  }
}

@media (max-height: 600px), (max-width: 350px){
  html {
    font-size: 8px;
  }
}


